@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="side">
        Твой личный блог
    </div>


    <div class="main">
        <div>
            <a asp-controller="User" asp-action="Register">Зарегистрироваться</a>
        </div>
        <div>
            <a asp-controller="User" asp-action="Login">Войти</a>
        </div>
    </div>
 </div>