@model CreateTagViewModel
@{
	ViewData["Title"] = "Creation-tag page";
}

<div class="container-page">
	<h2 class="title-margin">Создание тега: </h2>
	<form method="post" asp-controller="Tag" asp-action="Create">
		<div style="margin-bottom: 5px">
			<label asp-for="Name"/><br />
			<input class="form-control" asp-for="Name" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div>
			<input class="btn btn-sm btn-primary" type="submit" value="Создать" />
		</div>
	</form>
</div>