@model EditUserViewModel
@{
    ViewData["Title"] = "Edit-user page";
}
<div class="container-page">
	<h2 class="title-margin">Редактирование пользователя</h2>
	<form method="post" asp-controller="User" asp-action="Edit">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div style="margin-bottom: 5px">
			<div style="margin-bottom: 5px">
				<label asp-for="Id"></label><br/>
				<input class="form-control" readonly="true" asp-for="Id"/>
				<span asp-validation-for="Id" class="text-danger"></span>

			<div style="margin-bottom: 5px">
				<label asp-for="Firstname"></label><br/>
				<input class="form-control" asp-for="Firstname" />
				<span asp-validation-for="Firstname" class="text-danger"></span>

			</div>
			<div style="margin-bottom: 5px">
				<label asp-for="Lastname"></label><br/>
				<input class="form-control" asp-for="Lastname" />
				<span asp-validation-for="Lastname" class="text-danger"></span>
			</div>
			<div style="margin-bottom: 5px">
				<label asp-for="Login"></label><br/>
				<input class="form-control" asp-for="Login" />
				<span asp-validation-for="Login" class="text-danger"></span>
			</div>
			</div>
			<div style="margin-bottom: 5px">
				<label asp-for="Email"></label><br />
				<input class="form-control" asp-for="Email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div style="margin-bottom: 5px">
				<label asp-for="NewPassword"></label><br/>
				<input class="form-control" asp-for="NewPassword"/>
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</div>
				<table>
					<label>Роли:</label>
					<p/>
					@if (Model is not null)
					{
						@for (int i = 0; i < Model?.Roles?.Count; i++)
						{
							<div style="margin-bottom: 10px"> 
							@Html.CheckBoxFor(model => model.Roles[i].IsSelected)
							<input class="form-control" asp-for="Roles[i].Name" readonly="true"/>
							<input class="form-control" asp-for="Roles[i].Description" value="Base" hidden="true" />
							<span asp-validation-for="Roles[i].Name" class="text-danger"></span>
							@Html.HiddenFor(model => model.Roles[i].Id)
							</div>
							<tr/>
						}
					}
				</table>
			<div>
				<input class="btn btn-sm btn-primary" type="submit" value="Сохранить" />
			</div>
			<p>
				<a method="get" asp-controller="User" asp-action="GetAll">Все пользователи </a>
			</p>
		</div>
	</form>
</div>