@model RegisterUserViewModel

@{
    ViewData["Title"] = "Registration page";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="User" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Firstname"></label><br />
        <input asp-for="Firstname" />
        <span asp-validation-for="Firstname"></span>
    </div>
    <div>
        <label asp-for="Lastname"></label><br />
        <input asp-for="Lastname" />
        <span asp-validation-for="Lastname"></span>
    </div>
    <div>
        <label asp-for="Login"></label><br />
        <input asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordReg"></label><br />
        <input asp-for="PasswordReg" />
        <span asp-validation-for="PasswordReg"></span>
    </div>
    <div>
        <input class="btn btn-sm btn-primary" type="submit" value="Регистрация" />
    </div>
</form>